@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
